
.enemy-bar {
    position: absolute;
    display:flex;
    top: 195px;
    left: 20px;
    flex-direction: column-reverse;
  }
.mobile-enemy-bar {
    position: absolute;
    display:flex;
    top: 145px;
    left: 20px;
    flex-direction: column-reverse;
  }
  .enemy-health-bar {
    position: absolute;
    left: 61px;
    top: 275px;
    display:flex;
  }
  .mobile-enemy-health-bar {
    position: absolute;
    left: 40px;
    top: 225px;
    display:flex;
  }
  .enemy-level {
    position:absolute;
    left:145px;
    top:235px
  }
  .mobile-enemy-level {
    position:absolute;
    left: 40px;
    top:185px
  }

  .enemy-name {
    position: absolute;
    left:61px;
    top:190px;
  }

  .mobile-enemy-name {
    position: absolute;
    left:40px;
    top:145px;
  }

  .enemy-image {
    position:absolute;
    right: 10%;
    top:5%;
    height:420px;
    width:260px
  }

  .mobile-enemy-image {
    position:absolute;
    right: 10%;
    top:210px;
    height:420px;
    width:260px
  }



.mobile-enemy {
  display: flex;
  flex-direction:column;
}